html {}

/* Common styles for all types */

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout p {
    white-space: pre-wrap;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout code {
    border-radius: 3px;
}

/* Tighten up space between multiple callouts */

.bs-callout+.bs-callout {
    margin-top: -5px;
}

/* Variations */

.bs-callout-danger {
    border-left-color: #ce4844;
}

.bs-callout-danger h4 {
    color: #ce4844;
}

.bs-callout-warning {
    border-left-color: #aa6708;
}

.bs-callout-warning h4 {
    color: #aa6708;
}

.bs-callout-info {
    border-left-color: #1b809e;
}

.bs-callout-info h4 {
    color: #1b809e;
}

.bs-callout-normal {
    border-left-color: #30AA5F;
}

.bs-callout-normal h4 {
    color: #30AA5F;
}

scroll-tree,
edit-tree {
    display: block;
}

.scroll-row,
scroll-row {
    width: 20%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.scroll-row .wrap,
scroll-row .wrap {
    width: 100%;
    position: relative;
    opacity: 0.8;
}

.scroll-row.active,
scroll-row.active {
    /* width: 40%; */
}

.scroll-row.active .wrap,
scroll-row.active .wrap {
    opacity: 1;
}

scroll-node,
.scroll-node {
    position: relative;
    display: block;
    opacity: 0.8;
    background-color: #ececec;
}

.scroll-row.active .wrap scroll-node,
.scroll-row.active .wrap .scroll-node,
scroll-row.active .wrap scroll-node,
scroll-row.active .wrap .scroll-node {
    opacity: 1;
    background-color: #fbfbfb;
}

.scroll-row .wrap scroll-node.active,
.scroll-row .wrap .scroll-node.active,
.scroll-row.active .wrap scroll-node.active,
.scroll-row.active .wrap .scroll-node.active,
scroll-row .wrap scroll-node.active,
scroll-row .wrap .scroll-node.active,
scroll-row.active .wrap scroll-node.active,
scroll-row.active .wrap .scroll-node.active {
    opacity: 1;
    background-color: #ffffff;
}

scroll-node .content,
.scroll-node .content {
    box-shadow: 0 0 2px 0px #afafaf;
    padding: 20px;
    margin: 0;
}

scroll-node .add_sibling,
.scroll-node .add_sibling,
scroll-node .add_child,
.scroll-node .add_child {
    position: absolute;
    background-color: #ffffff;
    text-align: center;
    display: none;
    box-shadow: 0 0 7px 0px grey;
}

scroll-node .add_sibling,
.scroll-node .add_sibling {
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 60px;
}

scroll-node .add_child,
.scroll-node .add_child {
    top: 0;
    bottom: 0;
    margin-bottom: auto;
    margin-top: auto;
    right: 0;
    line-height: 60px;
    height: 60px;
}

scroll-node.active .add_sibling,
.scroll-node.active .add_sibling,
scroll-node.active .add_child,
.scroll-node.active .add_child {
    display: block;
}

editable-text {
    display: block;
    position: relative;
}

editable-text p {
    white-space: pre-wrap;
    display: inline-block;
}

editable-text textarea {
    width: 100%;
}

editable-text .icon {
    padding-left: 10px;
}

scroll-node editable-text .icon,
.scroll-node editable-text .icon {
    display: none;
}

scroll-node.active editable-text .icon,
.scroll-node.active editable-text .icon {
    display: initial;
}

characters,
character-card {
    display: block;
}

select-menu {
    display: inline-block;
}

select-menu .dropdown .btn {
    float: initial;
}

text {
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.node rect {
    stroke: #999;
    fill: #fff;
    stroke-width: 1.5px;
}

.edgePath path {
    stroke: #333;
    stroke-width: 1.5px;
}
